html {
    font-family: courier, "courier new", monospace;
}
h1, h2 {
    margin: .25em 0;
}
h1 {
    font-size: 1.35em;
}
h2 {
    font-size: 1.2em; 
}
#title {
    float: left;
}
#main-menu {
    float: right;
    padding: 1em 0 0;
}
#main-menu li {
    display: inline;
    list-style-type: none;
    cursor: pointer;
}
#main-menu li:hover, #main-menu > li.toggled_out{
    background: #eee;
}
#text_index {
    padding: 1.5em;
/*border: 5px solid #eee; */
}

.toggled_in:before {
    content: "+ ";
}
.toggled_out:before {
    content: "- ";
}
.toggled_in #text_index_list {
    display: none;
}
.toggled_out #text_index_list {
    display: block;
    position: absolute;
    top: 5em;
    margin: 0;
}
.hidden {
    display: none;
}
.shown {
    display: block;
}
.form_toggle {
    cursor: pointer;
}
#text_index_list li {
    padding: .5em;
    display: block;
}
#text {
    clear: both;
    padding: 1em;
}
.metadata {
    margin: 1em 0 2em;
    line-height: 1.4;
}
.slide-wrap {
    margin: 0 auto;
    overflow: auto;
}
.inner-wrap {
    float: left;
    margin-right: -30000px;
    width: auto;
}

.inner-wrap fieldset {
    width: 190px;
    display: inline-block;
    white-space: nowrap;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.inner-wrap div + div {
    margin-top: .7em;
}

.inner-wrap fieldset input, .inner-wrap fieldset textarea, .inner-wrap fieldset select, .inner-wrap fieldset button {
    width : 85px;
    margin: 0;
    -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
    -moz-box-sizing: border-box; /* For all Gecko based browsers */
    box-sizing: border-box;
}
.inner-wrap fieldset label {
    /* To make sure that all labels have the same size and are properly aligned */
    display: inline-block;
    width: 75px;
    text-align: right;
    margin-right: 5px;
}
.inner-wrap legend {
    background: #ffd;
    padding: 3px 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
}
.button {
    margin-top: 10px;
    margin-bottom: 10px;
}
.paragraph {
    margin-bottom: 3em;
}

#xmlForm textarea {
    width: 30%;
    height: 10em;
}

.visible {
    visibility: visible;
}

.invisible {
    visibility: hidden;
}
.sentence {
    margin: 25px 0 15px;
}